Options -MultiViews

AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType application/n-triples .n3
AddType application/ld+json .jsonld

RewriteEngine On
RewriteBase /phd

# Redirect JSON-LD requests to ontology file at root
RewriteCond %{HTTP_ACCEPT} application/ld\+json
RewriteRule ^$ ../ontology.jsonld [R=303,L]

# Redirect HTML requests to documentation at root
RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
RewriteRule ^$ ../index.html [R=303,L]

# Redirect RDF/XML requests
RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^$ ../ontology.owl [R=303,L]

# Redirect N-Triples requests
RewriteCond %{HTTP_ACCEPT} application/n-triples
RewriteRule ^$ ../ontology.nt [R=303,L]

# Redirect Turtle requests
RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
RewriteCond %{HTTP_ACCEPT} text/\* [OR]
RewriteCond %{HTTP_ACCEPT} \*/turtle
RewriteRule ^$ ../ontology.ttl [R=303,L]

RewriteCond %{HTTP_ACCEPT} .+
RewriteRule ^$ ../406.html [R=406,L]

# Default: serve HTML docs
RewriteRule ^$ ../index.html [R=303,L]
